[user]
	name = Sergey Pashaev
	email = bioh@yandex-team.ru
[branch "master"]
	rebase = true
	remote = origin
	merge = master
[branch]
	autosetuprebase = always
[core]
	longpaths = true
	fscache = true
	preloadindex = true
	autocrlf = false
[color]
	diff = auto
	status = auto
	branch = auto
[http]
	cookiefile = /home/bioh/.gitcookies
